{% extends 'base.html' %}
{% block content %}
    <!-- Starts Main Section -->
    <!-- Start Edit Profile Section -->
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <!-- Start Edit Profile From -->
        <form method="post"> 
            {% csrf_token %} 
            {% for field in form %}
                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label>{{ field.label }}</label> 
                    {{ field }} 
                </div> 
                <br> 
            {% endfor %}
            <!-- End Edit Profile Form -->

    </div>
    <!-- End Edit Profile Section -->

    <!-- End Main Section -->
{% endblock %}